.main-page {
    padding: 50px;
    background-color: #e0f7fa;
}

.mini-menu ul {
    list-style: none;
    padding: 0;
}

.mini-menu ul li {
    padding: 10px;
    margin: 5px 0;
    background-color: #4fc3f7;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #b0bec5, -10px -10px 30px #ffffff;
}
